@import './modules/_colors.scss';
@import './modules/_fonts.scss';

.verne-card {
  background-color: $primary-color !important;
  color: $verne_text-color;
}
.verne-text {
  font-family: $verne_text_font-family;
  color: $verne_text-color;
}
.verne-number {
  font-family: $verne_number_font-family;
  color: $verne_text-color;
}
.verne-chip {
  background-color: $primary-color;
  color: $verne_text-color;
  padding: 2%;
  font-family: $verne_number_font-family;
  height: 60px;
}
